@import './variables.scss';

.breadcrumbs {
  display: inline-block;
  position: relative;
  opacity: 0;
  line-height: 20px;
  border-radius: var(--border-radius);
  padding: 0 10px;
  background-color: var(--menu-color);
}
