@import './variables.scss';
@import './mixins.scss';

.dialog-container {
  @include placeholder;
  .dialog {
    position: relative;
    margin: auto;
    box-shadow: var(--box-shadow);
    .content {
      input[type='text'] {
        @include input-custom;
      }
    }
    .controls {
      @include controls-custom;
      button {
        @include button-dialog;
      }
    }
  }
}
