@import './variables.scss';
@import './mixins.scss';

.editor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--inactive-background-color);
  overflow-y: auto;
  .note {
    width: 100%;
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 80px;
    box-sizing: border-box;
    box-shadow: var(--box-shadow);
    .controls {
      @include controls-custom;
      max-width: 900px;
      position: fixed;
      top: 0;
      box-shadow: 0 4px 8px -2px var(--box-shadow-color);
      .reject,
      .submit {
        @include button-dialog;
      }
      .input__note_title {
        @include input-custom;
      }
    }
    .textarea__note_content {
      display: block;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      resize: none;
      border: 0;
      padding: 20px;
      font-size: 1.2rem;
    }
  }
}
