@import 'variables.scss';

.grid {
  display: grid;
  justify-content: center;
  padding: 110px 20px;
  margin: 20px 0;
  grid: 240px / repeat(auto-fill, 200px);
  grid-gap: var(--grid-gap);
  user-select: none;
  .item {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 240px;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-sizing: border-box;
    transition: 0.25s;
    &.folder {
      padding: 10px;
      text-align: center;
      background: url('../images/folder.svg') no-repeat center center var(--folder-color);
      background-size: 60%;
      font-size: 1.4rem;
      transition: background-color 0.2s;
      &:hover {
        background-color: var(--folder-hover-color);
      }
    }
    &.note {
      box-shadow: var(--box-shadow);
      &:hover {
        box-shadow: 0 0 10px 5px var(--box-shadow-color);
      }
      .title {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 10px;
        min-height: 40px;
        line-height: 40px;
        font-size: 1.5rem;
        border-bottom: 1px solid #000;
      }
      .content {
        display: block;
        justify-self: stretch;
        padding: 5px 10px;
        margin: 2px; // scrollbar thumb border width
        word-break: break-word;
        overflow-y: auto;
      }
      .footer {
        margin-top: auto;
        text-align: right;
        span {
          display: inline-block;
          padding: 2px 20px;
          cursor: pointer;
        }
      }
    }
  }
}
