@import 'variables.scss';

.grid {
  display: grid;
  justify-content: center;
  padding: 110px 20px;
  margin: 20px 0;
  grid: 240px / repeat(auto-fill, 200px);
  grid-gap: var(--grid-gap);
  user-select: none;
  .item {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 240px;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-sizing: border-box;
    .title-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #000;
      padding: 0 10px;
      min-height: 40px;
      .title {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 40px;
        font-size: 1.5rem;
      }
    }
    .checkbox {
      display: none;
      & + .checkbox__label {
        cursor: pointer;
        min-width: 30px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        box-sizing: border-box;
        position: relative;
        border: 5px solid var(--hover-button-color);
        transition: border var(--transition-time), box-shadow var(--transition-time);
      }
      &:checked + .checkbox__label {
        border: 15px solid var(--hover-button-color);
      }
      &:not(:checked) + .checkbox__label {
        border: 5px solid transparent;
      }
    }
    &:hover .checkbox + .checkbox__label {
      box-shadow: inset 0 0 0 5px var(--hover-button-color);
    }
    &.folder {
      background: url('../images/folder.svg') no-repeat center 65% var(--folder-color);
      background-size: 60%;
      transition: background-color var(--transition-time);
      &:hover {
        background-color: var(--folder-hover-color);
      }
    }
    &.note {
      transition: box-shadow var(--transition-time);
      box-shadow: var(--box-shadow);
      &:hover {
        box-shadow: 0 0 10px 5px var(--box-shadow-color);
      }
      .content {
        display: block;
        justify-self: stretch;
        margin: 10px;
        margin-top: 0;
        padding-right: 5px;
        word-break: break-word;
        overflow-y: auto;
        p {
          padding: 5px 0;
          margin: 0;
        }
      }
    }
  }
}
