@import 'variables.scss';

.grid {
  display: grid;
  justify-content: center;
  padding: 70px 20px;
  margin: 20px 0;
  grid: 240px / repeat(auto-fill, 200px);
  grid-gap: var(--grid-gap);
  user-select: none;
  .item {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 240px;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    transition: 0.25s;
    &:hover {
      border-width: 5px;
    }
    &.folder {
      padding: 10px;
      justify-content: flex-end;
      text-align: center;
      background: url('https://image.flaticon.com/icons/svg/148/148953.svg') no-repeat center center var(--folder-color);
      background-size: 60%;
      border-color: #000;
    }
    &.note {
      .title {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 5px 10px;
        font-size: 1.5rem;
        border-bottom: 1px solid #000;
        // cursor: move;
      }
      .content {
        height: auto;
        padding: 10px;
        // background-color: yellow;
        overflow: hidden;
      }
      .footer {
        margin-top: auto;
        text-align: right;
        span {
          display: inline-block;
          padding: 2px 20px;
          cursor: pointer;
        }
      }
    }
  }
}
