:root {
  --accent-color: rgb(42, 209, 0);
  --transition-time: 0.25s;
  --border-radius: 10px;
  --button-border-radius: 5px;
  --grid-gap: 20px;
  --box-shadow: 0 0 20px 0 var(--box-shadow-color);
  --box-shadow-color: #aaa;
  --placeholder-color: rgba(0, 0, 0, 0.5);
  --hover-button-color: rgba(0, 0, 0, 0.1);
  --inactive-background-color: rgba(255, 255, 255, var(--inactive-background-opacity));
  --inactive-background-opacity: 0.75;
  --menu-color: #ddd;
  --menu-button-color: #eee;
  --menu-button-hover-color: #eaeaea;
  --folder-color: #eee;
  --folder-hover-color: #ddd;
}

.grid {
  display: grid;
  justify-content: center;
  padding: 20px;
  padding-top: 110px;
  grid: 240px / repeat(auto-fill, 200px);
  grid-gap: var(--grid-gap);
  user-select: none;
  position: relative;
}
.grid .item {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 240px;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
.grid .item .complete {
  position: absolute;
  border: 0;
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  background: url('../images/submit.svg') no-repeat center center var(--hover-button-color);
  background-size: 60%;
  cursor: pointer;
  transition: bottom var(--transition-time), background-color var(--transition-time);
}
.grid .item .complete:hover {
  background-color: var(--placeholder-color);
}
.grid .item .title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding: 0 10px;
  min-height: 40px;
}
.grid .item .title-section .title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 40px;
  font-size: 1.5rem;
}
.grid .item .checkbox {
  display: none;
}
.grid .item .checkbox + .checkbox__label {
  cursor: pointer;
  min-width: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  border: 5px solid var(--hover-button-color);
  transition: border var(--transition-time), box-shadow var(--transition-time);
}
.grid .item .checkbox:checked + .checkbox__label {
  border: 15px solid var(--hover-button-color);
}
.grid .item .checkbox:not(:checked) + .checkbox__label {
  border: 5px solid transparent;
}
.grid .item:hover .complete {
  bottom: 0;
}
.grid .item:hover .checkbox + .checkbox__label {
  box-shadow: inset 0 0 0 5px var(--hover-button-color);
}
.grid .item.folder {
  background: url('../images/folder.svg') no-repeat center 65% var(--folder-color);
  background-size: 60%;
  transition: background-color var(--transition-time);
}
.grid .item.folder:hover {
  background-color: var(--folder-hover-color);
}
.grid .item.note {
  transition: box-shadow var(--transition-time);
  box-shadow: var(--box-shadow);
}
.grid .item.note:hover {
  box-shadow: 0 0 10px 5px var(--box-shadow-color);
}
.grid .item.note .content {
  display: block;
  justify-self: stretch;
  margin: 10px;
  margin-top: 0;
  padding-right: 5px;
  word-break: break-word;
  overflow-y: auto;
}
.grid .item.note .content p {
  padding: 5px 0;
  margin: 0;
}
