:root {
  --accent-color: rgb(42, 209, 0);
  --transition-time: 0.25s;
  --border-radius: 10px;
  --button-border-radius: 5px;
  --grid-gap: 20px;
  --box-shadow: 0 0 20px 0 var(--box-shadow-color);
  --box-shadow-color: #aaa;
  --placeholder-color: rgba(0, 0, 0, 0.5);
  --hover-button-color: rgba(0, 0, 0, 0.1);
  --inactive-background-color: rgba(255, 255, 255, var(--inactive-background-opacity));
  --inactive-background-opacity: 0.75;
  --menu-color: #ddd;
  --menu-button-color: #eee;
  --menu-button-hover-color: #eaeaea;
  --folder-color: #eee;
  --folder-hover-color: #ddd;
}

:root {
  --accent-color: rgb(42, 209, 0);
  --transition-time: 0.25s;
  --border-radius: 10px;
  --button-border-radius: 5px;
  --grid-gap: 20px;
  --box-shadow: 0 0 20px 0 var(--box-shadow-color);
  --box-shadow-color: #aaa;
  --placeholder-color: rgba(0, 0, 0, 0.5);
  --hover-button-color: rgba(0, 0, 0, 0.1);
  --inactive-background-color: rgba(255, 255, 255, var(--inactive-background-opacity));
  --inactive-background-opacity: 0.75;
  --menu-color: #ddd;
  --menu-button-color: #eee;
  --menu-button-hover-color: #eaeaea;
  --folder-color: #eee;
  --folder-hover-color: #ddd;
}

@keyframes rotating {
  0% {
    transform: rotate(0);
  }
  50%,
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fading-moving-top {
  0% {
    top: 50px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes fading-moving-left {
  0% {
    left: -50px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes fading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bubble {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shaking {
  0% {
    transform: rotate(0);
  }
  33% {
    transform: rotate(-5deg);
  }
  66% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes disappearing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0);
  }
}
.hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  user-select: none;
}
.hello .logo {
  min-width: 100px;
  min-height: 100px;
  padding: 20px;
  border-radius: 50%;
  background: url('../images/favicon.svg') no-repeat center center #fff;
  background-size: 80%;
  position: relative;
  top: 30px;
  z-index: 2;
  animation: rotating 6s 1s infinite normal ease-in-out;
}
.hello .title {
  width: 100%;
  text-align: center;
  display: block;
  font-size: 3rem;
  color: #fff;
  padding: 30px 0;
  font-weight: bold;
  letter-spacing: 5px;
  background-color: var(--accent-color);
}
.hello .details {
  font-size: 1rem;
  padding: 30px 0;
}
.hello .button {
  border-radius: var(--button-border-radius);
  border: 0;
  background-color: var(--menu-button-color);
  margin: 5px 0;
  padding: 5px 10px;
  line-height: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 8px 100px;
  transition: all 0.5s;
}
.hello .button.menu__create_note:before,
.hello .button.menu__create_folder:before,
.hello .button.menu__open_completed:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
}
.hello .button.menu__create_note:before {
  background: url('../images/create_note.svg') no-repeat center center;
  background-size: 80%;
}
.hello .button.menu__create_folder:before {
  background: url('../images/create_folder.svg') no-repeat center center;
  background-size: 80%;
}
.hello .button.menu__open_completed:before {
  background: url('../images/complete.svg') no-repeat center center;
  background-size: 80%;
}
.hello .button:hover {
  background-color: var(--menu-button-hover-color);
}
.hello .button:hover {
  background-color: var(--accent-color);
  padding: 8px 200px;
  color: #fff;
}
