html *::-webkit-scrollbar {
  width: 10px;
}
html *::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: transparent;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: 'Zilla Slab', serif;
}

header {
  box-shadow: var(--box-shadow);
  padding: 20px;
  position: relative;
  z-index: 1;
}

main {
  overflow-y: auto;
}

input,
button,
textarea {
  font-family: 'Zilla Slab', serif;
}
input:focus,
button:focus,
textarea:focus {
  outline: none;
}
