:root {
  --accent-color: rgb(42, 209, 0);
  --transition-time: 0.25s;
  --border-radius: 10px;
  --button-border-radius: 5px;
  --grid-gap: 20px;
  --box-shadow: 0 0 20px 0 var(--box-shadow-color);
  --box-shadow-color: #aaa;
  --placeholder-color: rgba(0, 0, 0, 0.5);
  --hover-button-color: rgba(0, 0, 0, 0.1);
  --inactive-background-color: rgba(255, 255, 255, var(--inactive-background-opacity));
  --inactive-background-opacity: 0.75;
  --menu-color: #ddd;
  --menu-button-color: #eee;
  --menu-button-hover-color: #eaeaea;
  --folder-color: #eee;
  --folder-hover-color: #ddd;
}

:root {
  --accent-color: rgb(42, 209, 0);
  --transition-time: 0.25s;
  --border-radius: 10px;
  --button-border-radius: 5px;
  --grid-gap: 20px;
  --box-shadow: 0 0 20px 0 var(--box-shadow-color);
  --box-shadow-color: #aaa;
  --placeholder-color: rgba(0, 0, 0, 0.5);
  --hover-button-color: rgba(0, 0, 0, 0.1);
  --inactive-background-color: rgba(255, 255, 255, var(--inactive-background-opacity));
  --inactive-background-opacity: 0.75;
  --menu-color: #ddd;
  --menu-button-color: #eee;
  --menu-button-hover-color: #eaeaea;
  --folder-color: #eee;
  --folder-hover-color: #ddd;
}

.list-section {
  display: flex;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--inactive-background-color);
  z-index: 999;
  overflow-y: hidden;
}
.list-section .reject {
  position: fixed;
  right: 0;
  top: 0;
  width: 60px;
  height: 60px;
  margin: 20px;
  border: 0;
  border-radius: 50%;
  background: url('../images/close.svg') no-repeat center center;
  background-size: 40%;
  cursor: pointer;
  transition: background-color var(--transition-time);
}
.list-section .reject:hover {
  background-color: var(--hover-button-color);
}
.list-section .list {
  width: 100%;
  max-width: 500px;
  max-height: 100%;
  margin: auto;
  position: relative;
}
.list-section .list .item {
  height: auto;
  padding: 10px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin: 10px 0;
}
.list-section .list .item .title {
  font-size: 2rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.list-section .list .item .content {
  font-size: 1.2rem;
}
.list-section .list .item .content p {
  margin: 0;
}
.list-section .list .item label {
  display: none;
}
.list-section .list .item input {
  display: none;
}
