@import './variables.scss';
@import './mixins.scss';

.menu {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  opacity: 0;
  padding: 20px;
  z-index: 1;
  button {
    @include button-menu;
    font-size: 1rem;
    &.menu__open_completed {
      background-color: var(--accent-color);
      color: #fff;
      font-weight: bold;
    }
  }
  button:not(:last-child) {
    margin-right: 10px;
  }
}
