:root {
  --accent-color: rgb(42, 209, 0);
  --transition-time: 0.25s;
  --border-radius: 10px;
  --button-border-radius: 5px;
  --grid-gap: 20px;
  --box-shadow: 0 0 20px 0 var(--box-shadow-color);
  --box-shadow-color: #aaa;
  --placeholder-color: rgba(0, 0, 0, 0.5);
  --hover-button-color: rgba(0, 0, 0, 0.1);
  --inactive-background-color: rgba(255, 255, 255, var(--inactive-background-opacity));
  --inactive-background-opacity: 0.75;
  --menu-color: #ddd;
  --menu-button-color: #eee;
  --menu-button-hover-color: #eaeaea;
  --folder-color: #eee;
  --folder-hover-color: #ddd;
}

:root {
  --accent-color: rgb(42, 209, 0);
  --transition-time: 0.25s;
  --border-radius: 10px;
  --button-border-radius: 5px;
  --grid-gap: 20px;
  --box-shadow: 0 0 20px 0 var(--box-shadow-color);
  --box-shadow-color: #aaa;
  --placeholder-color: rgba(0, 0, 0, 0.5);
  --hover-button-color: rgba(0, 0, 0, 0.1);
  --inactive-background-color: rgba(255, 255, 255, var(--inactive-background-opacity));
  --inactive-background-opacity: 0.75;
  --menu-color: #ddd;
  --menu-button-color: #eee;
  --menu-button-hover-color: #eaeaea;
  --folder-color: #eee;
  --folder-hover-color: #ddd;
}

.menu {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.menu button {
  border-radius: var(--button-border-radius);
  border: 0;
  background-color: var(--menu-button-color);
  padding: 5px 10px;
  line-height: 20px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1rem;
}
.menu button.menu__create_note:before,
.menu button.menu__create_folder:before,
.menu button.menu__open_completed:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
}
.menu button.menu__create_note:before {
  background: url('../images/create_note.svg') no-repeat center center;
  background-size: 80%;
}
.menu button.menu__create_folder:before {
  background: url('../images/create_folder.svg') no-repeat center center;
  background-size: 80%;
}
.menu button.menu__open_completed:before {
  background: url('../images/complete.svg') no-repeat center center;
  background-size: 80%;
}
.menu button:hover {
  background-color: var(--menu-button-hover-color);
}
.menu button.menu__open_completed {
  background-color: var(--accent-color);
  color: #fff;
  font-weight: bold;
}
.menu button:not(:last-child) {
  margin-right: 10px;
}
