@import './variables.scss';

@mixin button-menu {
  border-radius: var(--button-border-radius);
  border: 0;
  background-color: var(--menu-button-color);
  margin: 5px 0;
  padding: 5px 10px;
  line-height: 20px;
  cursor: pointer;
  &.menu__create_note:before,
  &.menu__create_folder:before,
  &.menu__open_completed:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
  }
  &.menu__create_note:before {
    background: url('../images/create_note.svg') no-repeat center center;
    background-size: 80%;
  }
  &.menu__create_folder:before {
    background: url('../images/create_folder.svg') no-repeat center center;
    background-size: 80%;
  }
  &.menu__open_completed:before {
    background: url('../images/complete.svg') no-repeat center center;
    background-size: 80%;
  }
  &:hover {
    background-color: var(--menu-button-hover-color);
  }
}

@mixin button-dialog {
  display: block;
  width: 40px;
  height: 40px;
  border: 0;
  background-color: transparent;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  &.submit {
    background: url('../images/submit.svg') no-repeat center center;
    background-size: 50%;
  }
  &.reject {
    background: url('../images/reject.svg') no-repeat center center;
    background-size: 50%;
  }
  &:hover {
    background-color: var(--hover-button-color);
  }
}

@mixin input-custom {
  width: 100%;
  line-height: 40px;
  padding: 0 20px;
  font-size: 1.4rem;
  font-weight: bold;
  border: 0;
  box-sizing: border-box;
}

@mixin controls-custom {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #fff;
}

@mixin placeholder {
  display: flex;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--inactive-background-color);
  z-index: 999;
}
